<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Build track</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="build_track.css">
    </head>

    <body>
        <div id="track-builder">
            <main>
                <svg id="track-diagram">
                    <defs>
                        <g id="point">
                            <path d="M0 0A50 50 0 0 0 -6.7 -25" />
                            <path d="M0 0A50 50 0 0 1 6.7 -25" />
                        </g>
                    </defs>

                    <circle
                        v-if="selectedPoint !== false"
                        :cx="points[selectedPoint].x"
                        :cy="points[selectedPoint].y"
                        r="30"
                        class="highlight"
                    />

                    <g v-for="point in points">
                        <use href="#point" :transform="`translate(${point.x} ${point.y}) rotate(${point.angle})`"/>
                        <circle fill="blue" :cx="point.x" :cy="point.y" r="3" />
                    </g>
                </svg>

                <div id="controls">
                    <h2>Point {{ selectedPoint + 1 }}</h2>
                    <label>
                        x-coordinate: {{ points[selectedPoint].x }}
                        <input v-model="points[selectedPoint].x" type="range" min="10" max="600"/>
                    </label>
                    <br>
                    <label>
                        y-coordinate: {{ points[selectedPoint].y }}
                        <input v-model="points[selectedPoint].y" type="range" min="10" max="600"/>
                    </label>                    
                    <br>
                    <label>
                        y-coordinate: {{ points[selectedPoint].angle }}
                        <input v-model="points[selectedPoint].angle" type="range" min="0" max="359"/>
                    </label>
                </div>
            </main>
        </div>

        <script src="build_track.js"></script>
    </body>
</html>