<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Build track</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="build_track.css">
    </head>

    <body>
        <div id="track-builder">
            <main>
                <svg id="track-diagram" :view-box.camel="viewBox" v-on:mousemove="drag" v-on:mouseup="endDrag">
                    <defs>
                        <g id="point">
                            <path d="M0 0A50 50 0 0 0 25 -6.7" />
                            <path d="M0 0A50 50 0 0 1 25 6.7" />
                        </g>
                    </defs>

                    <rect class="background" width="600" height="600" v-on:click="selectPoint(false)"/>

                    <path class="track" v-for="connection in connections" :d="getConnectionPath(connection)" />

                    <g v-for="(point, index) in points" v-on:mousedown="selectPoint(index, $event)">
                        <use
                            href="#point"
                            class="point"
                            v-bind:class="{ selected: selectedPoint === index }"
                            :transform="`translate(${point.x} ${point.y}) rotate(${point.angle})`"
                        />
                    </g>
                </svg>

                <div id="controls">
                    <div v-if="selectedPoint !== false">
                        <h2>Point {{ selectedPoint + 1 }}</h2>
                        <label class="control-label">
                            x-coordinate: {{ points[selectedPoint].x }}
                        </label>
                        <input v-model="points[selectedPoint].x" type="range" min="10" max="600"/>
                        <br>
                        <label class="control-label">
                            y-coordinate: {{ points[selectedPoint].y }}
                        </label>
                        <input v-model="points[selectedPoint].y" type="range" min="10" max="600"/>
                        <br>
                        <label class="control-label">
                            direction: {{ points[selectedPoint].angle }}
                        </label>
                        <input v-model="points[selectedPoint].angle" type="range" min="0" max="359" step="15"/>
                    </div>
                    <p>{{dragging}}</p>
                    <div>
                        <h2>Add connection</h2>
                        <select v-model="connectionPoint1">
                            <option disabled value="">Select a point</option>
                            <option v-for="(point, index) in points" :value="index">
                                Point {{ index + 1}}
                            </option>
                        </select>
                        <select v-model="connectionPosition1">
                            <option disabled value="">Select a position</option>
                            <option value="arm1">Arm 1</option>
                            <option value="arm2">Arm 2</option>
                            <option value="base">Base</option>
                        </select>
                        
                        <br>

                        <select v-model="connectionPoint2">
                            <option disabled value="">Select a point</option>
                            <option v-for="(point, index) in points" :value="index">
                                Point {{ index + 1}}
                            </option>
                        </select>
                        <select v-model="connectionPosition2">
                            <option disabled value="">Select a position</option>
                            <option value="arm1">Arm 1</option>
                            <option value="arm2">Arm 2</option>
                            <option value="base">Base</option>
                        </select>

                        <br>
                        <button :disabled="!canAddConnections" v-on:click="addConnection">
                            Add Connection
                        </button>
                    </div>
                </div>
            </main>
        </div>

        <script src="build_track.js"></script>
    </body>
</html>