.get-word-button {
    font-family: 'Ranchers', cursive;
    font-size: 2.5rem;
    background-color: black;
    color: white;
    padding: 0.3rem 0.8rem;
    border: none;
    border-radius: 0.3rem;
}

.word-list {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.generated-word {
    font-family: 'Ranchers', cursive;
    font-size: 2.5rem;
    margin: 10px;
}

.word-list-enter-active, .word-list-leave-active {
    transition: opacity 1s;
}

.word-list-enter, .word-list-leave-to {
    opacity: 0;
}