.get-word-button {
    font-family: 'Ranchers', cursive;
    font-size: 2.5rem;
    background-color: black;
    color: white;
    padding: 0.8rem 0.6rem;
    border: none;
    border-radius: 0.5rem;
}

.word-list {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.generated-word {
    font-family: 'Ranchers', cursive;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-right: 1rem;
}

.word-list-enter-active, .word-list-leave-active {
    transition: opacity 1s;
}

.word-list-enter, .word-list-leave-to {
    opacity: 0;
}