.example-matrices {
    padding-left: 5px;
}

.example-matrix {
    background: #dbdbdb;
    padding: 2px 5px 1px 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.example-matrix:hover{
    background: #aaa;
    cursor: pointer;
}

.selected {
    background: #aaa;
}

.all-matrices {
    margin: 16px 20px 24px 20px;
}

.matrix-block {
    margin-left: 20px;
    min-width: 100px;
    display: inline-block;
}

.matrix-heading {
    margin-top: 5px;
    vertical-align: top;
    text-align: center;
}

.dimensions {
    font-size: 0.9rem;
    text-align: center;
}

.dimension {
    text-align: center;
    width: 20px;
    border: none;
}

.matrix-wrapper {
    margin-top: 10px;
}

.matrix {
    display: inline-block;
    padding: 2px 3px 0 3px;
    position: relative
}

.matrix-bracket {
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    border-top: solid 1px #111;
    border-bottom: solid 1px #111;
}

.bracket-open {
    left: 0;
    border-left: solid 1px #111;
}

.bracket-close {
    border-right: solid 1px #111;
    right: 0;
}

.matrix-columns, .matrix-column {
    display: inline-block;
    margin: 0;
}

.matrix-item  {
    text-align: center;
    box-sizing: border-box;
    padding: 2px 6px;
    margin: 2px 1px;
    display: block;
}

.input-matrix .matrix-item, .dimension {
    background: #dbdbdb;
    outline: none;
    cursor: pointer;
}

.matrix-item:focus {
    background: #a8a8a8;
}

.matrix-operator {
    display: inline-block;
    position: relative;
    top: -20px;
}

#find-width {
    display: inline;
}
