<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dobble page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="dobble.css">
    </head>

<body>
    <!-- 3 symbols 3 cards -->
    <div style="width:210px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-75 -42 150 92">
            <g transform="translate(0 -30)">
                <rect class="dobble-card" x="-36" y="-12" width="72" height="24" rx="8" ry="8"/>
                <text class="dobble-symbol pink" x="-18" y="0">A</text>
                <text class="dobble-symbol blue" x="18" y="0">B</text>
            </g>
            <g transform="rotate(120) translate(0 -30)">
                <rect class="dobble-card" x="-36" y="-12" width="72" height="24" rx="8" ry="8"/>
                <text class="dobble-symbol blue" x="-18" y="0">B</text>
                <text class="dobble-symbol green" x="18" y="0">C</text>
            </g>
            <g transform="rotate(240) translate(0 -30)">
                <rect class="dobble-card" x="-36" y="-12" width="72" height="24" rx="8" ry="8"/>
                <text class="dobble-symbol green" x="-18" y="0">C</text>
                <text class="dobble-symbol pink" x="18" y="0">A</text>
            </g>
        </svg>
    </div>

    <!-- 3 symbols 3 cards table -->
    <div style="width:210px;">
        <svg viewBox="0 0 100 84">
            <g class="dobble-table-block">
                <rect x="24" y="24" width="20" height="20"/>
                <rect x="44" y="44" width="20" height="20"/>
                <rect x="64" y="64" width="20" height="20"/>
            </g>
                
            <g class="dobble-table">
                <line x1="0" y1="24" x2="84" y2="24"/>
                <line x1="0" y1="44" x2="84" y2="44"/>
                <line x1="0" y1="64" x2="84" y2="64"/>
                <line x1="24" y1="0" x2="24" y2="84"/>
                <line x1="44" y1="0" x2="44" y2="84"/>
                <line x1="64" y1="0" x2="64" y2="84"/>
            </g>
                
            <g class="dobble-symbol table-symbol">
                <text x="12" y="34">AB</text>
                <text x="12" y="54">AC</text>
                <text x="12" y="74">BC</text>
                <text transform="translate(34 12) rotate(-90)" x="0" y="0">AB</text>
                <text transform="translate(54 12) rotate(-90)" x="0" y="0">AC</text>
                <text transform="translate(74 12) rotate(-90)" x="0" y="0">BC</text>
            
                <text x="54" y="34">A</text>
                <text x="74" y="34">B</text>
                <text x="74" y="54">C</text>
                <text x="34" y="54">A</text>
                <text x="34" y="74">B</text>
                <text x="54" y="74">C</text>
            </g>
        </svg>
    </div>

    <!-- 4 symbols 3 cards -->
    <div style="width:210px;">
        <svg viewBox="-70 -70 160 140">
            <g transform="translate(5)">
                <rect class="dobble-card" x="0" y="-12" width="72" height="24" rx="8" ry="8"/>
                <text class="dobble-symbol pink" x="18" y="0">A</text>
                <text class="dobble-symbol" x="54" y="0">B</text>
            </g>
            <g transform="rotate(120) translate(5)">
                <rect class="dobble-card" x="0" y="-12" width="72" height="24" rx="8" ry="8"/>
                <text class="dobble-symbol pink" x="18" y="0">A</text>
                <text class="dobble-symbol" x="54" y="0">C</text>
            </g>
            <g transform="rotate(240) translate(5)">
                <rect class="dobble-card" x="0" y="-12" width="72" height="24" rx="8" ry="8"/>
                <text class="dobble-symbol pink" x="18" y="0">A</text>
                <text class="dobble-symbol" x="54" y="0">D</text>
            </g>
        </svg>
    </div>

    <!-- 4 symbols 2 cards -->
    <div style="width:210px;">
        <svg viewBox="-32 0 160 52">
            <rect class="dobble-card" x="0" y="0" width="72" height="24" rx="8" ry="8"/>
            <text class="dobble-symbol" x="12" y="12">A</text>
            <text class="dobble-symbol" fill="red" x="36" y="12">B</text>
            <text class="dobble-symbol" fill="red" x="60" y="12">C</text>
            <rect class="dobble-card" x="24" y="28" width="72" height="24" rx="8" ry="8"/>
            <text class="dobble-symbol" fill="red" x="36" y="40">B</text>
            <text class="dobble-symbol" fill="red" x="60" y="40">C</text>
            <text class="dobble-symbol" x="84" y="40">D</text>
        </svg>
    </div>

    <!-- 5 symbols 2 cards -->
    <div style="width:210px;">
        <svg viewBox="-20 0 160 52">
            <rect class="dobble-card" x="0" y="0" width="72" height="24" rx="8" ry="8"/>
            <text class="dobble-symbol" x="12" y="12">A</text>
            <text class="dobble-symbol" x="36" y="12">B</text>
            <text class="dobble-symbol green" x="60" y="12">C</text>
            <rect class="dobble-card" x="48" y="28" width="72" height="24" rx="8" ry="8"/>
            <text class="dobble-symbol green" x="60" y="40">C</text>
            <text class="dobble-symbol" x="84" y="40">D</text>
            <text class="dobble-symbol" x="108" y="40">E</text>
        </svg>
    </div>

    <!-- 5 symbols 2 cards -->
    <div style="width:210px;">
        <svg viewBox="0 0 144 52">
            <rect class="dobble-card" x="0" y="0" width="120" height="24" rx="8" ry="8"/>
            <rect class="dobble-card" x="0" y="28" width="120" height="24" rx="8" ry="8"/>
            <text class="dobble-symbol pink" x="12" y="12">A</text>
            <text class="dobble-symbol pink" x="12" y="40">A</text>
            <text class="dobble-symbol" x="36" y="12">B</text>
            <text class="dobble-symbol" x="60" y="12">C</text>
            <text class="dobble-symbol" x="84" y="40">D</text>
            <text class="dobble-symbol" x="108" y="40">E</text>
            <line class="dobble-underline" x1="6" y1="20" x2="66" y2="20"/>
            <line class="dobble-underline" x1="78" y1="48" x2="114" y2="48"/>
        </svg>
    </div>

    <!-- 6 symbols 3 cards -->
    <div style="width:210px;">
        <svg viewBox="0 0 144 80">
            <rect class="dobble-card" x="0" y="0" width="144" height="24" rx="8" ry="8"/>
            <rect class="dobble-card" x="0" y="28" width="144" height="24" rx="8" ry="8"/>
            <rect class="dobble-card" x="0" y="56" width="144" height="24" rx="8" ry="8"/>
            <text class="dobble-symbol pink" x="12" y="12">A</text>
            <text class="dobble-symbol pink" x="12" y="40">A</text>
            <text class="dobble-symbol blue" x="36" y="12">B</text>
            <text class="dobble-symbol blue" x="36" y="68">B</text>
            <text class="dobble-symbol" x="60" y="12">C</text>
            <text class="dobble-symbol green" x="84" y="40">D</text>
            <text class="dobble-symbol green" x="84" y="68">D</text>
            <text class="dobble-symbol" x="108" y="40">E</text>
            <text class="dobble-symbol" x="132" y="68">F</text>
            <line class="dobble-underline" x1="6" y1="20" x2="66" y2="20"/>
            <line class="dobble-underline" x1="78" y1="48" x2="114" y2="48"/>
            <line class="dobble-underline" x1="126" y1="76" x2="138" y2="76"/>
        </svg>
    </div>

    <!-- 6 symbols 3 cards -->
    <div style="width:210px;">
        <svg viewBox="0 0 144 108">
            <rect class="dobble-card" x="0" y="0" width="144" height="24" rx="8" ry="8"/>
            <rect class="dobble-card" x="0" y="28" width="144" height="24" rx="8" ry="8"/>
            <rect class="dobble-card" x="0" y="56" width="144" height="24" rx="8" ry="8"/>
            <rect class="dobble-card" x="0" y="84" width="144" height="24" rx="8" ry="8"/>
            <text class="dobble-symbol pink" x="12" y="12">A</text>
            <text class="dobble-symbol pink" x="12" y="40">A</text>
            <text class="dobble-symbol blue" x="36" y="12">B</text>
            <text class="dobble-symbol blue" x="36" y="68">B</text>
            <text class="dobble-symbol" x="60" y="12">C</text>
            <text class="dobble-symbol" x="60" y="96">C</text>  
            <text class="dobble-symbol green" x="84" y="40">D</text>
            <text class="dobble-symbol green" x="84" y="68">D</text>
            <text class="dobble-symbol" x="108" y="40">E</text>
            <text class="dobble-symbol" x="108" y="96">E</text>
            <text class="dobble-symbol" x="132" y="68">F</text>
            <text class="dobble-symbol" x="132" y="96">F</text>
        </svg>
    </div>

    <!-- Triangle numbers -->
    <div style="width:210px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-10 -10 100 80">    
            <g class="dobble-symbol">
                <text x="0" y="0">1</text>
                <text x="0" y="20">2</text>
                <text x="20" y="20">3</text>
                <text x="0" y="40">4</text>
                <text x="20" y="40">5</text>
                <text x="40" y="40">6</text>
                <text x="0" y="60">7</text>
                <text x="20" y="60">8</text>
                <text x="40" y="60">9</text>
                <text x="60" y="60">10</text>
            </g>
        </svg>
    </div>

    <!-- Triangle numbers -->
    <div style="width:210px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -10 100 80">    
            <g class="dobble-card" font-size="0.8em">
                <circle cx="0" cy="0" r="9"/>
                <circle cx="-10" cy="20" r="9"/>
                <circle cx="10" cy="20" r="9"/>
                <circle cx="0" cy="40" r="9"/>
                <circle cx="-20" cy="40" r="9"/>
                <circle cx="20" cy="40" r="9"/>
                <circle cx="-30" cy="60" r="9"/>
                <circle cx="-10" cy="60" r="9"/>
                <circle cx="10" cy="60" r="9"/>
                <circle cx="30" cy="60" r="9"/>
            </g>
            <g class="dobble-symbol" font-size="0.8em">
                <text x="0" y="0" class="pink">1</text>
                <text x="-10" y="20">2</text>
                <text x="10" y="20" class="pink">3</text>
                <text x="0" y="40">4</text>
                <text x="-20" y="40">5</text>
                <text x="20" y="40" class="pink">6</text>
                <text x="-30" y="60">7</text>
                <text x="-10" y="60">8</text>
                <text x="10" y="60">9</text>
                <text x="30" y="60" class="pink">10</text>
            </g>
        </svg>
    </div>

    <!-- 6 symbols 4 cards table -->
    <div style="width:210px;">
        <svg viewBox="0 0 160 120">
            <g class="dobble-table-block">
                <rect x="40" y="40" width="20" height="20"/>
                <rect x="60" y="60" width="20" height="20"/>
                <rect x="80" y="80" width="20" height="20"/>
                <rect x="100" y="100" width="20" height="20"/>
            </g>

            <path class="blue" fill-opacity="0.85" d="M40 40 H120 V120z"/>
            <path class="pink" fill-opacity="0.85" d="M40 40 V120 H120z"/>
                
            <g class="dobble-table">
                <line x1="0" y1="40" x2="120" y2="40"/>
                <line x1="0" y1="60" x2="120" y2="60"/>
                <line x1="0" y1="80" x2="120" y2="80"/>
                <line x1="0" y1="100" x2="120" y2="100"/>
                <line x1="40" y1="0" x2="40" y2="120"/>
                <line x1="60" y1="0" x2="60" y2="120"/>
                <line x1="80" y1="0" x2="80" y2="120"/>
                <line x1="100" y1="0" x2="100" y2="120"/>
            </g>
                
            <g class="dobble-symbol table-symbol">
                <text x="20" y="50">ABC</text>
                <text x="20" y="70">ADE</text>
                <text x="20" y="90">BDF</text>
                <text x="20" y="110">CEF</text>
                <text transform="translate(50 20) rotate(-90)" x="0" y="0">ABC</text>
                <text transform="translate(70 20) rotate(-90)" x="0" y="0">ADE</text>
                <text transform="translate(90 20) rotate(-90)" x="0" y="0">BDF</text>
                <text transform="translate(110 20) rotate(-90)" x="0" y="0">CEF</text>
            
                <g fill="white">
                    <text x="70" y="50">A</text>
                    <text x="90" y="50">B</text>
                    <text x="110" y="50">C</text>
                    <text x="90" y="70">D</text>
                    <text x="110" y="70">E</text>
                    <text x="110" y="90">F</text>
                    <text x="50" y="70">A</text>
                    <text x="50" y="90">B</text>
                    <text x="50" y="110">C</text>
                    <text x="70" y="90">D</text>
                    <text x="70" y="110">E</text>
                    <text x="90" y="110">F</text>
                </g>
            </g>
        </svg>
    </div>

    <!-- 7 symbols 7 cards -->
    <div style="width:210px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 168 192">
            <g class="dobble-card">
            <rect id="card1" class="interactive-card" x="0" y="0" width="168" height="24" rx="8" ry="8"/>
            <rect id="card2" class="interactive-card" x="0" y="28" width="168" height="24" rx="8" ry="8"/>
            <rect id="card3" class="interactive-card" x="0" y="56" width="168" height="24" rx="8" ry="8"/>
            <rect id="card4" class="interactive-card" x="0" y="84" width="168" height="24" rx="8" ry="8"/>
            <rect id="card5" class="interactive-card" x="0" y="112" width="168" height="24" rx="8" ry="8"/>
            <rect id="card6" class="interactive-card" x="0" y="140" width="168" height="24" rx="8" ry="8"/>
            <rect id="card7" class="interactive-card" x="0" y="168" width="168" height="24" rx="8" ry="8"/>
            </g>

            <g class="dobble-symbol symbol-set set1 set2 set3">
            <text x="12" y="12">A</text>
            <text x="12" y="40">A</text>
            <text x="12" y="68">A</text>
            </g>
            <g class="dobble-symbol symbol-set set1 set4 set5">
            <text x="36" y="12">B</text>
            <text x="36" y="96">B</text>
            <text x="36" y="124">B</text>
            </g>
            <g class="dobble-symbol symbol-set set1 set6 set7">
            <text x="60" y="12">C</text>
            <text x="60" y="152">C</text>
            <text x="60" y="180">C</text>
            </g>
            <g class="dobble-symbol symbol-set set2 set4 set6">
            <text x="84" y="40">D</text>
            <text x="84" y="96">D</text>
            <text x="84" y="152">D</text>
            </g>
            <g class="dobble-symbol symbol-set set2 set5 set7">
            <text x="108" y="40">E</text>
            <text x="108" y="124">E</text>
            <text x="108" y="180">E</text>
            </g>
            <g class="dobble-symbol symbol-set set3 set4 set7">
            <text x="132" y="68">F</text>
            <text x="132" y="96">F</text>
            <text x="132" y="180">F</text>
            </g>
            <g class="dobble-symbol symbol-set set3 set5 set6">
            <text x="156" y="68">G</text>
            <text x="156" y="124">G</text>
            <text x="156" y="152">G</text>
            </g>

            <g class="dividing-lines">
            <line x1="0" x2="168" y1="26" y2="26" />
            <line x1="0" x2="168" y1="82" y2="82" />
            <line x1="0" x2="168" y1="138" y2="138" />
            <line x1="24" x2="24" y1="0" y2="192" />
            <line x1="72" x2="72" y1="0" y2="192" />
            <line x1="120" x2="120" y1="0" y2="192" />
            </g>
        </svg>
    </div>

    <!-- 7 symbols 3 cards -->
    <div style="width:210px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 168 80">
            <g class="dobble-card">
                <rect y="0" width="168" height="24" rx="8" ry="8"/>
                <rect y="28" width="168" height="24" rx="8" ry="8"/>
                <rect y="56" width="168" height="24" rx="8" ry="8"/>
            </g>

            <g class="dobble-symbol">
                <text class="pink" x="12" y="12">A</text>
                <text x="36" y="12">B</text>
                <text x="60" y="12">C</text>
                <text class="pink" x="12" y="40">A</text>
                <text x="84" y="40">D</text>
                <text x="108" y="40">E</text>
                <text class="pink" x="12" y="68">A</text>
                <text x="132" y="68">F</text>
                <text x="156" y="68">G</text>
            </g>
        </svg>
    </div>

    <!-- 7 symbols 4 cards -->
    <div style="width:210px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 168 108">
            <g class="dobble-card">
                <rect y="0" width="168" height="24" rx="8" ry="8"/>
                <rect y="28" width="168" height="24" rx="8" ry="8"/>
                <rect y="56" width="168" height="24" rx="8" ry="8"/>
                <rect y="84" width="168" height="24" rx="8" ry="8"/>
            </g>

            <g class="dobble-symbol">
                <text class="blue" x="36" y="12">B</text>
                <text x="84" y="12">D</text>
                <text x="132" y="12">F</text>
                <text class="blue" x="36" y="40">B</text>
                <text x="108" y="40">E</text>
                <text x="156" y="40">G</text>
                <text class="green" x="60" y="68">C</text>
                <text x="84" y="68">D</text>
                <text x="156" y="68">G</text>
                <text class="green" x="60" y="96">C</text>
                <text x="108" y="96">E</text>
                <text x="132" y="96">F</text>
            </g>
        </svg>
    </div>

    <!-- 9 symbols 4 cards -->
    <div style="width:210px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 216 108">
            <g class="dobble-card">
                <rect y="0" width="216" height="24" rx="8" ry="8"/>
                <rect y="28" width="216" height="24" rx="8" ry="8"/>
                <rect y="56" width="216" height="24" rx="8" ry="8"/>
                <rect y="84" width="216" height="24" rx="8" ry="8"/>
            </g>

            <g class="dobble-symbol">
                <text class="pink" x="12" y="12">A</text>
                <text x="36" y="12">B</text>
                <text x="60" y="12">C</text>
                <text class="pink" x="12" y="40">A</text>
                <text x="84" y="40">D</text>
                <text x="108" y="40">E</text>
                <text class="pink" x="12" y="68">A</text>
                <text x="132" y="68">F</text>
                <text x="156" y="68">G</text>
                <text class="pink" x="12" y="96">A</text>
                <text x="180" y="96">H</text>
                <text x="204" y="96">I</text>
            </g>
        </svg>
    </div>

    <!-- 13 symbols 13 cards -->
    <div style="width:210px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 312 360">
            <g class="dobble-card">
                <rect id="card13-1" class="interactive-card" x="0" y="0" width="312" height="24" rx="8" ry="8"/>
                <rect id="card13-2" class="interactive-card" x="0" y="28" width="312" height="24" rx="8" ry="8"/>
                <rect id="card13-3" class="interactive-card" x="0" y="56" width="312" height="24" rx="8" ry="8"/>
                <rect id="card13-4" class="interactive-card" x="0" y="84" width="312" height="24" rx="8" ry="8"/>
                <rect id="card13-5" class="interactive-card" x="0" y="112" width="312" height="24" rx="8" ry="8"/>
                <rect id="card13-6" class="interactive-card" x="0" y="140" width="312" height="24" rx="8" ry="8"/>
                <rect id="card13-7" class="interactive-card" x="0" y="168" width="312" height="24" rx="8" ry="8"/>
                <rect id="card13-8" class="interactive-card" x="0" y="196" width="312" height="24" rx="8" ry="8"/>
                <rect id="card13-9" class="interactive-card" x="0" y="224" width="312" height="24" rx="8" ry="8"/>
                <rect id="card13-10" class="interactive-card" x="0" y="252" width="312" height="24" rx="8" ry="8"/>
                <rect id="card13-11" class="interactive-card" x="0" y="280" width="312" height="24" rx="8" ry="8"/>
                <rect id="card13-12" class="interactive-card" x="0" y="308" width="312" height="24" rx="8" ry="8"/>
                <rect id="card13-13" class="interactive-card" x="0" y="336" width="312" height="24" rx="8" ry="8"/>
            </g>
                    
            <g class="symbol-set set13-1 set13-2 set13-3 set13-4">
                <text class="dobble-symbol" x="12" y="12">A</text>
                <text class="dobble-symbol" x="12" y="40">A</text>
                <text class="dobble-symbol" x="12" y="68">A</text>
                <text class="dobble-symbol" x="12" y="96">A</text>
            </g>
            <g class="symbol-set set13-1 set13-5 set13-6 set13-7">
                <text class="dobble-symbol" x="36" y="12">B</text>
                <text class="dobble-symbol" x="36" y="124">B</text>
                <text class="dobble-symbol" x="36" y="152">B</text>
                <text class="dobble-symbol" x="36" y="180">B</text>
            </g>
            <g class="symbol-set set13-1 set13-8 set13-9 set13-10">
                <text class="dobble-symbol" x="60" y="12">C</text>
                <text class="dobble-symbol" x="60" y="208">C</text>
                <text class="dobble-symbol" x="60" y="236">C</text>
                <text class="dobble-symbol" x="60" y="264">C</text>
            </g>
            <g class="symbol-set set13-1 set13-11 set13-12 set13-13">
                <text class="dobble-symbol" x="84" y="12">D</text>
                <text class="dobble-symbol" x="84" y="292">D</text>
                <text class="dobble-symbol" x="84" y="320">D</text>
                <text class="dobble-symbol" x="84" y="348">D</text>
            </g>
            <g class="symbol-set set13-2 set13-5 set13-8 set13-11">
                <text class="dobble-symbol" x="108" y="40">E</text>
                <text class="dobble-symbol" x="108" y="124">E</text>
                <text class="dobble-symbol" x="108" y="208">E</text>
                <text class="dobble-symbol" x="108" y="292">E</text>
            </g>
            <g class="symbol-set set13-2 set13-6 set13-9 set13-12">
                <text class="dobble-symbol" x="132" y="40">F</text>
                <text class="dobble-symbol" x="132" y="152">F</text>
                <text class="dobble-symbol" x="132" y="236">F</text>
                <text class="dobble-symbol" x="132" y="320">F</text>
            </g>
            <g class="symbol-set set13-2 set13-7 set13-10 set13-13">
                <text class="dobble-symbol" x="156" y="40">G</text>
                <text class="dobble-symbol" x="156" y="180">G</text>
                <text class="dobble-symbol" x="156" y="264">G</text>
                <text class="dobble-symbol" x="156" y="348">G</text>
            </g>
            <g class="symbol-set set13-3 set13-5 set13-10 set13-12">
                <text class="dobble-symbol" x="180" y="68">H</text>
                <text class="dobble-symbol" x="180" y="124">H</text>
                <text class="dobble-symbol" x="180" y="264">H</text>
                <text class="dobble-symbol" x="180" y="320">H</text>
            </g>
            <g class="symbol-set set13-3 set13-6 set13-8 set13-13">
                <text class="dobble-symbol" x="204" y="68">I</text>
                <text class="dobble-symbol" x="204" y="152">I</text>
                <text class="dobble-symbol" x="204" y="208">I</text>
                <text class="dobble-symbol" x="204" y="348">I</text>
            </g>
            <g class="symbol-set set13-3 set13-7 set13-9 set13-11">
                <text class="dobble-symbol" x="228" y="68">J</text>
                <text class="dobble-symbol" x="228" y="180">J</text>
                <text class="dobble-symbol" x="228" y="236">J</text>
                <text class="dobble-symbol" x="228" y="292">J</text>
            </g>
            <g class="symbol-set set13-4 set13-5 set13-9 set13-13">
                <text class="dobble-symbol" x="252" y="96">K</text>
                <text class="dobble-symbol" x="252" y="124">K</text>
                <text class="dobble-symbol" x="252" y="236">K</text>
                <text class="dobble-symbol" x="252" y="348">K</text>
            </g>
            <g class="symbol-set set13-4 set13-6 set13-10 set13-11">
                <text class="dobble-symbol" x="276" y="96">L</text>
                <text class="dobble-symbol" x="276" y="152">L</text>
                <text class="dobble-symbol" x="276" y="264">L</text>
                <text class="dobble-symbol" x="276" y="292">L</text>
            </g>
            <g class="symbol-set set13-4 set13-7 set13-8 set13-12">
                <text class="dobble-symbol" x="300" y="96">M</text>
                <text class="dobble-symbol" x="300" y="180">M</text>
                <text class="dobble-symbol" x="300" y="208">M</text>
                <text class="dobble-symbol" x="300" y="320">M</text>
            </g>
            
            <g class="dividing-lines">
                <line x1="0" x2="312" y1="26" y2="26" />
                <line x1="0" x2="312" y1="110" y2="110" />
                <line x1="0" x2="312" y1="194" y2="194" />
                <line x1="0" x2="312" y1="278" y2="278" />
                <line x1="24" x2="24" y1="0" y2="360" />
                <line x1="96" x2="96" y1="0" y2="360" />
                <line x1="168" x2="168" y1="0" y2="360" />
                <line x1="240" x2="240" y1="0" y2="360" />
            </g>
        </svg>
    </div>

    <!-- 3 card geometry -->
    <div style="width:210px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-20 -16 140 120">
            <line id="card-3-1" class="background-line" x1="0" y1="0" x2="100" y2="0" />
            <line id="card-3-2" class="background-line" x1="0" y1="0" x2="50" y2="86" />
            <line id="card-3-3" class="background-line" x1="100" y1="0" x2="50" y2="86" />
            
            <line class="card-line set-3-1 line-3A line-3B" x1="0" y1="0" x2="100" y2="0" />
            <line class="card-line set-3-2 line-3A line-3C" x1="0" y1="0" x2="50" y2="86" />
            <line class="card-line set-3-3 line-3B line-3C" x1="100" y1="0" x2="50" y2="86" />

            <g id="symbol-3A" class="symbol-point set-3-1 set-3-2">
                <circle cx="0" cy="0" r="3" />
                <text class="dobble-symbol" x="-8" y="-8">A</text>
            </g>

            <g id="symbol-3B" class="symbol-point set-3-1 set-3-3">
                <circle cx="100" cy="0" r="3" />
                <text class="dobble-symbol" x="108" y="-8">B</text>
            </g>

            <g id="symbol-3C" class="symbol-point set-3-2 set-3-3">
                <circle cx="50" cy="86" r="3" />
                <text class="dobble-symbol" x="50" y="96">C</text>
            </g>
        </svg>
    </div>

    <!-- 4 card geometry -->
    <div style="width:210px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-10 0 140 40">
            <g class="symbol-point">
                <line class="background-line" x1="0" y1="20" x2="120" y2="20" />
                <line class="card-line" x1="0" y1="20" x2="120" y2="20" />
        
                <circle cx="0" cy="20" r="3" />
                <circle cx="40" cy="20" r="3" />
                <circle cx="80" cy="20" r="3" />
                <circle cx="120" cy="20" r="3" />
                
                <text class="dobble-symbol" x="0" y="10">A</text>
                <text class="dobble-symbol" x="40" y="10">B</text>
                <text class="dobble-symbol" x="80" y="10">C</text>
                <text class="dobble-symbol" x="120" y="10">D</text>
            </g>
        </svg>
    </div>

    <!-- 5 card geometry -->
    <div style="width:210px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-20 -16 140 120">
            <line id="card-5-1" class="background-line" x1="50" y1="0" x2="0" y2="86" />
            <line id="card-5-2" class="background-line" x1="50" y1="0" x2="100" y2="86" />
            
            <line class="card-line set-5-1 line-5A line-5B line-5C" x1="50" y1="0" x2="0" y2="86" />
            <line class="card-line set-5-2 line-5A line-5D line-5E" x1="50" y1="0" x2="100" y2="86" />
        
            <g id="symbol-5A" class="symbol-point set-5-1 set-5-2">
                <circle cx="50" cy="0" r="3" />
                <text class="dobble-symbol" x="50" y="-10">A</text>
            </g>
        
            <g id="symbol-5B" class="symbol-point set-5-1">
                <circle cx="25" cy="43" r="3" />
                <text class="dobble-symbol" x="15" y="43">B</text>
            </g>
        
            <g id="symbol-5C" class="symbol-point set-5-1">
                <circle cx="0" cy="86" r="3" />
                <text class="dobble-symbol" x="-10" y="86">C</text>
            </g>
            
            <g id="symbol-5D" class="symbol-point set-5-2">
                <circle cx="75" cy="43" r="3" />
                <text class="dobble-symbol" x="85" y="43">D</text>
            </g>
        
            <g id="symbol-5E" class="symbol-point set-5-2">
                <circle cx="100" cy="86" r="3" />
                <text class="dobble-symbol" x="110" y="86">E</text>
            </g>
        </svg>
    </div>

    <!-- 6 card geometry -->
    <div style="width:210px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-20 -16 140 120">
            <line id="card-6-1" class="background-line" x1="50" y1="0" x2="0" y2="86" />
            <line id="card-6-2" class="background-line" x1="50" y1="0" x2="100" y2="86" />
            <line id="card-6-3" class="background-line" x1="0" y1="86" x2="100" y2="86" />
            
            <line class="card-line set-6-1 line-6A line-6B line-6C" x1="50" y1="0" x2="0" y2="86" />
            <line class="card-line set-6-2 line-6A line-6D line-6E" x1="50" y1="0" x2="100" y2="86" />
            <line class="card-line set-6-3 line-6C line-6F line-6E" x1="0" y1="86" x2="100" y2="86" />
            
            <circle id="card-6-4" class="background-line" cx="50" cy="57.13" r="28.87"/>
            <circle class="card-line set-6-4 line-6B line-6D line-6F" cx="50" cy="57.13" r="28.87"/>
        
            <g id="symbol-6A" class="symbol-point set-6-1 set-6-2">
                <circle cx="50" cy="0" r="3" />
                <text class="dobble-symbol" x="50" y="-10">A</text>
            </g>
        
            <g id="symbol-6B" class="symbol-point set-6-1 set-6-4">
                <circle cx="25" cy="43" r="3" />
                <text class="dobble-symbol" x="15" y="43">B</text>
            </g>
        
            <g id="symbol-6C" class="symbol-point set-6-1 set-6-3">
                <circle cx="0" cy="86" r="3" />
                <text class="dobble-symbol" x="-10" y="86">C</text>
            </g>
            
            <g id="symbol-6D" class="symbol-point set-6-2 set-6-4">
                <circle cx="75" cy="43" r="3" />
                <text class="dobble-symbol" x="85" y="43">D</text>
            </g>
        
            <g id="symbol-6E" class="symbol-point set-6-2 set-6-3">
                <circle cx="100" cy="86" r="3" />
                <text class="dobble-symbol" x="110" y="86">E</text>
            </g>

            <g id="symbol-6F" class="symbol-point set-6-3 set-6-4">
                <circle cx="50" cy="86" r="3" />
                <text class="dobble-symbol" x="50" y="96">F</text>
            </g>
        </svg>
    </div>

    <!-- 4, 5, 6 card geometry -->
    <div style="width:280px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-20 -16 290 180">
            <g class="symbol-point" transform="translate(62.5)">
                <line class="background-line" x1="0" y1="20" x2="120" y2="20" />
                <line class="card-line" x1="0" y1="20" x2="120" y2="20" />

                <circle cx="0" cy="20" r="3" />
                <circle cx="40" cy="20" r="3" />
                <circle cx="80" cy="20" r="3" />
                <circle cx="120" cy="20" r="3" />
                
                <text class="dobble-symbol" x="0" y="10">A</text>
                <text class="dobble-symbol" x="40" y="10">B</text>
                <text class="dobble-symbol" x="80" y="10">C</text>
                <text class="dobble-symbol" x="120" y="10">D</text>
            </g>

            <g transform="translate(0 60)">
                <line id="card-5-1" class="background-line" x1="50" y1="0" x2="0" y2="86" />
                <line id="card-5-2" class="background-line" x1="50" y1="0" x2="100" y2="86" />
                
                <line class="card-line set-5-1 line-5A line-5B line-5C" x1="50" y1="0" x2="0" y2="86" />
                <line class="card-line set-5-2 line-5A line-5D line-5E" x1="50" y1="0" x2="100" y2="86" />
            
                <g id="symbol-5A" class="symbol-point set-5-1 set-5-2">
                    <circle cx="50" cy="0" r="3" />
                    <text class="dobble-symbol" x="50" y="-10">A</text>
                </g>
            
                <g id="symbol-5B" class="symbol-point set-5-1">
                    <circle cx="25" cy="43" r="3" />
                    <text class="dobble-symbol" x="15" y="43">B</text>
                </g>
            
                <g id="symbol-5C" class="symbol-point set-5-1">
                    <circle cx="0" cy="86" r="3" />
                    <text class="dobble-symbol" x="-10" y="86">C</text>
                </g>
                
                <g id="symbol-5D" class="symbol-point set-5-2">
                    <circle cx="75" cy="43" r="3" />
                    <text class="dobble-symbol" x="85" y="43">D</text>
                </g>
            
                <g id="symbol-5E" class="symbol-point set-5-2">
                    <circle cx="100" cy="86" r="3" />
                    <text class="dobble-symbol" x="110" y="86">E</text>
                </g>
            </g>

            <g transform="translate(150 60)">
                <line id="card-6-1" class="background-line" x1="50" y1="0" x2="0" y2="86" />
                <line id="card-6-2" class="background-line" x1="50" y1="0" x2="100" y2="86" />
                <line id="card-6-3" class="background-line" x1="0" y1="86" x2="100" y2="86" />
                
                <line class="card-line set-6-1 line-6A line-6B line-6C" x1="50" y1="0" x2="0" y2="86" />
                <line class="card-line set-6-2 line-6A line-6D line-6E" x1="50" y1="0" x2="100" y2="86" />
                <line class="card-line set-6-3 line-6C line-6F line-6E" x1="0" y1="86" x2="100" y2="86" />
                
                <circle id="card-6-4" class="background-line" cx="50" cy="57.13" r="28.87"/>
                <circle class="card-line set-6-4 line-6B line-6D line-6F" cx="50" cy="57.13" r="28.87"/>
            
                <g id="symbol-6A" class="symbol-point set-6-1 set-6-2">
                    <circle cx="50" cy="0" r="3" />
                    <text class="dobble-symbol" x="50" y="-10">A</text>
                </g>
            
                <g id="symbol-6B" class="symbol-point set-6-1 set-6-4">
                    <circle cx="25" cy="43" r="3" />
                    <text class="dobble-symbol" x="15" y="43">B</text>
                </g>
            
                <g id="symbol-6C" class="symbol-point set-6-1 set-6-3">
                    <circle cx="0" cy="86" r="3" />
                    <text class="dobble-symbol" x="-10" y="86">C</text>
                </g>
                
                <g id="symbol-6D" class="symbol-point set-6-2 set-6-4">
                    <circle cx="75" cy="43" r="3" />
                    <text class="dobble-symbol" x="85" y="43">D</text>
                </g>
            
                <g id="symbol-6E" class="symbol-point set-6-2 set-6-3">
                    <circle cx="100" cy="86" r="3" />
                    <text class="dobble-symbol" x="110" y="86">E</text>
                </g>

                <g id="symbol-6F" class="symbol-point set-6-3 set-6-4">
                    <circle cx="50" cy="86" r="3" />
                    <text class="dobble-symbol" x="50" y="96">F</text>
                </g>
            </g>
        </svg>
    </div>

    <!-- 7 card geometry -->
    <div style="width:210px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-20 -16 140 120">
            <circle id="card-7-4" class="background-line" cx="50" cy="57.1" r="28.9"/>
            <circle class="card-line set-7-4 line-7B line-7D line-7F" cx="50" cy="57.1" r="28.9"/>

            <line id="card-7-1" class="background-line" x1="50" y1="0" x2="0" y2="86" />
            <line id="card-7-2" class="background-line" x1="50" y1="0" x2="100" y2="86" />
            <line id="card-7-3" class="background-line" x1="0" y1="86" x2="100" y2="86" />
            <line id="card-7-5" class="background-line" x1="50" y1="0" x2="50" y2="86" />
            <line id="card-7-6" class="background-line" x1="25" y1="43" x2="100" y2="86" />
            <line id="card-7-7" class="background-line" x1="0" y1="86" x2="75" y2="43" />

            <line class="card-line set-7-1 line-7A line-7B line-7C" x1="50" y1="0" x2="0" y2="86" />
            <line class="card-line set-7-2 line-7A line-7D line-7E" x1="50" y1="0" x2="100" y2="86" />
            <line class="card-line set-7-3 line-7C line-7F line-7E" x1="0" y1="86" x2="100" y2="86" />
            <line class="card-line set-7-5 line-7A line-7G line-7F" x1="50" y1="0" x2="50" y2="86" />
            <line class="card-line set-7-6 line-7B line-7G line-7E" x1="25" y1="43" x2="100" y2="86" />
            <line class="card-line set-7-7 line-7C line-7G line-7D" x1="0" y1="86" x2="75" y2="43" />

            <g id="symbol-7A" class="symbol-point set-7-1 set-7-2 set-7-5">
                <circle cx="50" cy="0" r="3" />
                <text class="dobble-symbol" x="50" y="-10">A</text>
            </g>

            <g id="symbol-7B" class="symbol-point set-7-1 set-7-4 set-7-6">
                <circle cx="25" cy="43" r="3" />
                <text class="dobble-symbol" x="15" y="43">B</text>
            </g>

            <g id="symbol-7C" class="symbol-point set-7-1 set-7-3 set-7-7">
                <circle cx="0" cy="86" r="3" />
                <text class="dobble-symbol" x="-10" y="86">C</text>
            </g>
            
            <g id="symbol-7D" class="symbol-point set-7-2 set-7-4 set-7-7">
                <circle cx="75" cy="43" r="3" />
                <text class="dobble-symbol" x="85" y="43">D</text>
            </g>

            <g id="symbol-7E" class="symbol-point set-7-2 set-7-3 set-7-6">
                <circle cx="100" cy="86" r="3" />
                <text class="dobble-symbol" x="110" y="86">E</text>
            </g>

            <g id="symbol-7F" class="symbol-point set-7-3 set-7-4 set-7-5">
                <circle cx="50" cy="86" r="3" />
                <text class="dobble-symbol" x="50" y="96">F</text>
            </g>

            <g id="symbol-7G" class="symbol-point set-7-5 set-7-6 set-7-7">
                <circle cx="50" cy="57.1" r="3" />
                <text class="dobble-symbol" x="44" y="46">G</text>
            </g>
        </svg>
    </div>

    <!-- 8 symbols 3 cards failed -->
    <div style="width:210px;">
        <svg viewBox="-1 0 218 81">
            <rect class="dobble-card" x="0" y="0" width="192" height="24" rx="8" ry="8"/>
            <rect class="dobble-card" x="0" y="28" width="192" height="24" rx="8" ry="8"/>
            <rect class="dobble-card failed-card" x="0" y="56" width="192" height="24" rx="8" ry="8"/>
            <text class="dobble-symbol pink" x="12" y="12">A</text>
            <text class="dobble-symbol green" x="36" y="12">B</text>
            <text class="dobble-symbol" x="60" y="12">C</text>
            <text class="dobble-symbol" x="84" y="12">D</text>
            <text class="dobble-symbol pink" x="12" y="40">A</text>
            <text class="dobble-symbol blue" x="108" y="40">E</text>
            <text class="dobble-symbol" x="132" y="40">F</text>
            <text class="dobble-symbol" x="156" y="40">G</text>
            <text class="dobble-symbol green" x="36" y="68">B</text>
            <text class="dobble-symbol blue" x="108" y="68">E</text>
            <text class="dobble-symbol" x="180" y="68">H</text>
            <text class="dobble-symbol red" x="204" y="68">I</text>
        </svg>
    </div>

    <!-- 9 symbols 3 cards -->
    <div style="width:210px;">
        <svg viewBox="-1 0 218 81">
            <rect class="dobble-card" x="0" y="0" width="216" height="24" rx="8" ry="8"/>
            <rect class="dobble-card" x="0" y="28" width="216" height="24" rx="8" ry="8"/>
            <rect class="dobble-card" x="0" y="56" width="216" height="24" rx="8" ry="8"/>
            <text class="dobble-symbol pink" x="12" y="12">A</text>
            <text class="dobble-symbol green" x="36" y="12">B</text>
            <text class="dobble-symbol" x="60" y="12">C</text>
            <text class="dobble-symbol" x="84" y="12">D</text>
            <text class="dobble-symbol pink" x="12" y="40">A</text>
            <text class="dobble-symbol blue" x="108" y="40">E</text>
            <text class="dobble-symbol" x="132" y="40">F</text>
            <text class="dobble-symbol" x="156" y="40">G</text>
            <text class="dobble-symbol green" x="36" y="68">B</text>
            <text class="dobble-symbol blue" x="108" y="68">E</text>
            <text class="dobble-symbol" x="180" y="68">H</text>
            <text class="dobble-symbol" x="204" y="68">I</text>
        </svg>
    </div>

    <!-- 10 symbols 5 cards table -->
    <div style="width:210px;">
        <svg viewBox="0 0 160 140">
            <g class="dobble-table-block">
                <rect x="40" y="40" width="20" height="20"/>
                <rect x="60" y="60" width="20" height="20"/>
                <rect x="80" y="80" width="20" height="20"/>
                <rect x="100" y="100" width="20" height="20"/>
                <rect x="120" y="120" width="20" height="20"/>
            </g>
                
            <g class="dobble-table">
                <line y1="40" x2="140" y2="40"/>
                <line y1="60" x2="140" y2="60"/>
                <line y1="80" x2="140" y2="80"/>
                <line y1="100" x2="140" y2="100"/>
                <line y1="120" x2="140" y2="120"/>
                <line x1="40" x2="40" y2="140"/>
                <line x1="60" x2="60" y2="140"/>
                <line x1="80" x2="80" y2="140"/>
                <line x1="100" x2="100" y2="140"/>
                <line x1="120" x2="120" y2="140"/>
            </g>
                
            <g class="dobble-symbol table-symbol">
                <text x="20" y="50">ABCD</text>
                <text x="20" y="70">AEFG</text>
                <text x="20" y="90">BEHI</text>
                <text x="20" y="110">CFHJ</text>
                <text x="20" y="130">DGIJ</text>
                <text transform="translate(50 20) rotate(-90)">ABCD</text>
                <text transform="translate(70 20) rotate(-90)">AEFG</text>
                <text transform="translate(90 20) rotate(-90)">BEHI</text>
                <text transform="translate(110 20) rotate(-90)">CFHJ</text>
                <text transform="translate(130 20) rotate(-90)">DGIJ</text>
            
                <text x="70" y="50">A</text>
                <text x="90" y="50">B</text>
                <text x="110" y="50">C</text>
                <text x="130" y="50">D</text>
                <text x="90" y="70">E</text>
                <text x="110" y="70">F</text>
                <text x="130" y="70">G</text>
                <text x="110" y="90">H</text>
                <text x="130" y="90">I</text>
                <text x="130" y="110">J</text>
                <text x="50" y="70">A</text>
                <text x="50" y="90">B</text>
                <text x="50" y="110">C</text>
                <text x="50" y="130">D</text>
                <text x="70" y="90">E</text>
                <text x="70" y="110">F</text>
                <text x="70" y="130">G</text>
                <text x="90" y="110">H</text>
                <text x="90" y="130">I</text>
                <text x="110" y="130">J</text>
            </g>
        </svg>
    </div>

    <!-- Spiral -->
    <div style="width:210px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-70 -55 140 110">      
            <path class="dobble-spiral" d="M0 0 h20 v20 h-40 v-40 h60 v60 h-80 v-80"/>
            <path class="dobble-spiral dobble-diagonal" d="M-45 -45 L45 45"/>

            <g class="dobble-symbol spiral-symbol">
                <text x="0" y="0">1</text>
                <text x="20" y="0">2</text>
                <text x="20" y="20">3</text>
                <text x="0" y="20">4</text>
                <text x="-20" y="20">5</text>
                <text x="-20" y="0">6</text>
                <text x="-20" y="-20">7</text>
                <text x="0" y="-20">8</text>
                <text x="20" y="-20">9</text>
                <text x="40" y="-20">10</text>
                <text x="40" y="0">11</text>
                <text x="40" y="20">12</text>
                <text x="40" y="40">13</text>
                <text x="20" y="40">14</text>
                <text x="0" y="40">15</text>
                <text x="-20" y="40">16</text>
                <text x="-40" y="40">17</text>
                <text x="-40" y="20">18</text>
                <text x="-40" y="0">19</text>
                <text x="-40" y="-20">20</text>
                <text x="-40" y="-40">21</text>
            </g>
        </svg>
    </div>

<table class="column-header">
    <tr>
        <td>Symbols ($n$)</td>
        <td class="highlight-pink">1</td>
        <td>2</td>
        <td class="highlight-pink">3</td>
        <td>4</td>
        <td>5</td>
        <td class="highlight-blue">6</td>
        <td class="highlight-pink">7</td>
        <td>8</td>
        <td>9</td>
        <td class="highlight-blue">10</td>
        <td>11</td>
        <td>12</td>
        <td class="highlight-pink">13</td>
        <td>14</td>
        <td class="highlight-blue">15</td>
        <td>16</td>
        <td>17</td>
        <td>18</td>
        <td>19</td>
        <td>20</td>
        <td class="highlight-pink">21</td>
        <td>22</td>
    </tr>
    <tr>
        <td>Cards ($k$)</td>
        <td class="highlight-pink">1</td>
        <td>1</td>
        <td class="highlight-pink">3</td>
        <td>1</td>
        <td>2</td>
        <td class="highlight-blue">4</td>
        <td class="highlight-pink">7</td>
        <td>1</td>
        <td>3</td>
        <td class="highlight-blue">5</td>
        <td>6</td>
        <td>9</td>
        <td class="highlight-pink">13</td>
        <td>4</td>
        <td class="highlight-blue">6</td>
        <td>6</td>
        <td>7</td>
        <td>9</td>
        <td>10</td>
        <td>16</td>
        <td class="highlight-pink">21</td>
        <td>7</td>
    </tr>
    <tr>
        <td>Symbols per card ($s$)</td>
        <td class="highlight-pink">1</td>
        <td>2</td>
        <td class="highlight-pink">2</td>
        <td>4</td>
        <td>3</td>
        <td class="highlight-blue">3</td>
        <td class="highlight-pink">3</td>
        <td>8</td>
        <td>4</td>
        <td class="highlight-blue">4</td>
        <td>4</td>
        <td>4</td>
        <td class="highlight-pink">4</td>
        <td>5</td>
        <td class="highlight-blue">5</td>
        <td>5</td>
        <td>5</td>
        <td>5</td>
        <td>5</td>
        <td>5</td>
        <td class="highlight-pink">5</td>
        <td>6</td>
    </tr>
    <tr>
    <td>Mean repeats ($r$)</td>
        <td class="highlight-pink">1</td>
        <td>1</td>
        <td class="highlight-pink">2</td>
        <td>1</td>
        <td>1.2</td>
        <td class="highlight-blue">2</td>
        <td class="highlight-pink">3</td>
        <td>1</td>
        <td>1.33</td>
        <td class="highlight-blue">2</td>
        <td>2.18</td>
        <td>3</td>
        <td class="highlight-pink">4</td>
        <td>1.43</td>
        <td class="highlight-blue">2</td>
        <td>1.88</td>
        <td>2.06</td>
        <td>2.5</td>
        <td>2.63</td>
        <td>4</td>
        <td class="highlight-pink">5</td>
        <td>1.91</td>
    </tr>
</table>

    <!-- Builder App -->
    <div id="app">
        <div class="dobble-controls">
            <div class="slider-wrapper">
                <label for="num-symbols-slider">Total number of symbols (n = {{ numSymbols }})</label>
                <input id="num-symbols-slider" type="range" min="3" max="26" v-model="numSymbols">
            </div>
            <div class="slider-wrapper">
                <label for="card-symbols-slider">Symbols per card (s = {{ cardSymbols }})</label>
                <input id="card-symbols-slider" type="range" min="2" max="6" v-model="cardSymbols">
            </div>
            <button type="button" class="btn btn-outline-danger" v-on:click="reset()">Clear all</button>
        </div>

        <p>Click on the letters to add or remove them from a card.</p>

        <svg class="dobble-builder" xmlns="http://www.w3.org/2000/svg" width="680" :height="svgHeight">
            <g class="symbol-counts" :transform="getTranslation(0)">
                <text class="dobble-symbol" :x="getSymbolX(symbol)" y="-8" v-for="symbol in allSymbols">
                    {{ symbolCount[symbol] || 0 }}
                </text>
            </g>
            <g id="new-card" class="new-card" :transform="getTranslation(0)">
                <rect class="dobble-card" v-bind:class="{ failed: cardFailed }" x="0" y="0" :width="cardWidth" height="24" rx="8" ry="8"/>
                <text
                    class="dobble-symbol"
                    :x="getSymbolX(symbol)"
                    y="13"
                    v-bind:class="{ selected: newCard[symbol] }"
                    v-on:click="toggleSymbol(symbol)"
                    v-show="showSymbol(symbol)"
                    v-for="symbol in allSymbols">
                        {{ symbol }}
                </text>
            </g>
            <g v-for="(card, index) in cards" :transform="getTranslation(index + 1)" v-bind:class="{ matching: matchingCards[card.join('')] }">
                <rect class="dobble-card" :width="cardWidth" height="24" rx="8" ry="8" />
                <text class="card-count" x="-20" :y="14">{{ index + 1}}</text>
                <text
                    class="dobble-symbol"
                    :x="getSymbolX(symbol)"
                    y="13"
                    v-bind:class="{ selected: newCard[symbol] }"
                    v-for="symbol in card">
                        {{ symbol }}
                </text>
                <text class="remove-card-btn" :x="getSymbolX(numSymbols) - 5" :y="16" v-on:click="removeCard(index)">&times;</text>
            </g>
        </svg>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="dobble.js"></script>
</body>
</html>

https://cdn.jsdelivr.net/gh/petercollingridge/code-for-blog@405cfcd2d87e6d6af0c637453ee122623199b58f/maths-for-games/dobble/dobble.js
https://cdn.jsdelivr.net/gh/petercollingridge/InteractiveSVG.js@db2890b4ae093f85cd1149b94d5be11bae6092a4/interactiveSVG.js